#output-terminal {
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #171717;
    border-radius: 8px 8px 0px 0px;
    width: 100%; /* Ensure it takes up the full width of its container */
    color: white;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    box-shadow: 0 0 10px #92929240;
    overflow-y: auto;
    font-size: inherit; /* Inherit from body */
    transition: font-size 0.3s ease;
}
  
#output-terminal:hover { 
    /* transform: scale(1.02); */ 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px #FFD700;
}


#output-terminal h2 {
    text-align: left;
}


#output-terminal ol {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

#output-terminal li {
    padding: 5px 0;
    white-space: pre-wrap;
}

#output-terminal li::before {
    color: white;
}

#input-terminal {
    background-color: #1D1D1D;
    color: white;
    padding: 10px;
    width: 100%; /* Ensure it takes up the full width of its container */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    text-align: left;
    box-shadow: 0 0 10px #92929240;
    font-size: inherit; /* Inherit from body */
    transition: font-size 0.3s ease;
}


.input-wrapper {
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #292929;
}

.input-wrapper::before {
    content: "> ";
    color: white;
    font-family: monospace;
    font-size: inherit;
    white-space: nowrap; 
}

.input-wrapper input {
    flex-grow: 1; 
    border: none;
    outline: none;
    padding: 5px;
    font-size: inherit; /* Inherit from body */
    background-color: transparent;
    color: white;
    font-family: monospace;
    min-width: 50px; 
    transition: font-size 0.3s ease;
}

#input-terminal:hover { 
    /* transform: scale(1.02); */ 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px #FFD700;
}

#input-terminal:hover .input-wrapper {
    width: 105%;
}

#terminal-output-container {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#terminal-output-container li {
    padding: 5px 0;
    white-space: pre-wrap;
}

/*scrollbars*/
/* Custom scrollbars for terminal areas */
#output-terminal::-webkit-scrollbar,
#input-terminal::-webkit-scrollbar {
  width: 12px;
}

#output-terminal::-webkit-scrollbar-track,
#input-terminal::-webkit-scrollbar-track {
  background: #000000;
}

#output-terminal::-webkit-scrollbar-thumb,
#input-terminal::-webkit-scrollbar-thumb {
  background: #7a7a75;
  border: 2px solid #000;
  border-radius: 0;
}

#output-terminal::-webkit-scrollbar-thumb:hover,
#input-terminal::-webkit-scrollbar-thumb:hover {
  background: #707070;
}