* {
    box-sizing: border-box;
  }

/** General Body Styling **/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(144, 127, 127, 0.808));
    height: 100vh; 
    margin: 0%;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** Style Header One's content **/
h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 15px;
}
h3 {
    text-align: center;
}

/** Overall styling of buttons **/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap; 
}

/* Style the buttons */
button {
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 25px;
    min-width: 145px;
    min-height: 45px;
    border-radius: 8px;
    background-color: #171717;
    color: white;
    border: 0;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/** CSS for the menu which appears after the user has logged in **/
#menu {
    text-align: center;
    padding: 15px;
    display: block; /* Block display to stack items vertically */
    margin: 10px;
}

/** First terminal design **/
.terminal-one {
    background-color: #2A2A2A;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    body {
      padding: 5%;
    }
    .terminal-one {
      width: 90%;
      padding: 20px;
    }
    button {
      min-width: 100px;
      width: 100%;
      margin: 5px 0;
    }
    .button-container {
      flex-direction: column;
    }
  }

  button:hover,
button:focus-visible {
  background-color: #000000;  
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* accessibility  */
button:focus {
  outline: 3px solid #FFD700;  /* High contrast focus  */
  outline-offset: 2px;
}

/** hover effect disabled for accessible screens **/
@media (prefers-reduced-motion: reduce) {
    button {
      transition: none;
    }

    .standardtextfield {
        transition: none;
      }

    .terminal-two {
        transition: none;
      }
  }

/** non terminal inputs **/
  .standardtextfield {
    display: block;
    width: 100%;
    height: 45px; 
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #171717;
    border-radius: 8px;
    background-color: white;
    color: #171717;
    margin-bottom: 1em;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
   }

  .standardtextfield:hover,
.standardtextfield:focus-visible {
  border-color: #282828;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.standardtextfield:focus {
  outline: 3px solid #FFD700;
  outline-offset: 2px;
}

/** centering login**/
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px; 
    margin: 0 auto;
  }

  .terminal-two {
    margin-left: -5%;
    margin-right: -5%;

    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #171717;
    border-radius: 8px 8px 0px 0px;

    width: calc(100% + 10%);
    color: white;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    box-shadow: 0 0 10px #92929240;
  }

  .terminal-two:hover { 
    /* transform: scale(1.02); */ 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px #FFD700;

    }


    .terminal-two h2 {
      text-align: left;
  }


    .terminal-two ol {
      list-style-position: inside;
      padding: 0;
      margin: 0;
  }
  
  .terminal-two li {
      padding: 5px 0;
      white-space: pre-wrap;
  }
  
  .terminal-two li::before {
      color: white;
  }

  .input-container {
    background-color: #1D1D1D;
    color: white;
    padding: 10px;
    margin-left: -5%;
    margin-right: -5%;
    width: calc(100% + 10%); 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    text-align: left;
    box-shadow: 0 0 10px #92929240;
    
}


.input-wrapper {
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #292929;
    
}

.input-wrapper::before {
    content: "> ";
    color: white;
    font-family: monospace;
    font-size: 16px;
    white-space: nowrap; 
}

.input-wrapper input {
    flex-grow: 1; 
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    font-family: monospace;
    min-width: 50px; 
}

.input-container:hover { 
  /* transform: scale(1.02); */ 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px #FFD700;

  }

  .input-container:hover .input-wrapper {
    width: 105%;
}

.terminal-output {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.terminal-output li {
  padding: 5px 0;
  white-space: pre-wrap;
}



#signUpForm{
  *{box-sizing: border-box}
  input[type=text], input[type = password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type = text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
  }
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
}

/** CSS for checkbox ( Located in the login form ) **/

.checkbox-wrapper-3 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}
.checkbox-wrapper-3 {
  display: flex; /* Ensures checkbox and text are aligned */
  align-items: center; /* Aligns them vertically */
  gap: 10px; /* Adds spacing between the toggle and text */
}

.toggle-text {
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.checkbox-wrapper-3 .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-3 .toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.checkbox-wrapper-3 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.checkbox-wrapper-3 .toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: #FFD700;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
  background: #e7d572;
}
.checkbox-wrapper-3 #cbx-3:checked + .toggle span {
  background: #FFD700;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}


